{% load rest_framework %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register site</h1>
<form method="POST">
    {% csrf_token %}
   <label><b>ID Card</b></label></br>
    <input type="text" placeholder="Enter Your ID Card" name="idcard" required></br></br>
    <label><b>Name</b></label></br>
    <input type="text" placeholder="Enter Your Name" name="name" required></br></br>
    <label><b>Last Names</b></label></br>
    <input type="text" placeholder="" name="ln1" required>
    <input type="text" placeholder="" name="ln2" required></br></br>
    <label><b>Email</b></label></br>
    <input type="text" placeholder="Enter Your Email" name="email" required></br></br>
    <input type="submit" value="Save">
</form>
</body>
</html>